.bg
{
    background-color:#f8d050;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100vw;
    font-family: 'Figtree',sans-serif;
} 
.card{ 
    padding:15px;
    border:1px solid black;
    border-radius: 15px;
    background-color: white;
    box-shadow: 7px 7px;
    width: 100%;
    max-width: 340px;
    box-sizing: border-box;
}
.img {
    text-align:center;
    border-radius: 5px;
    width: 100%;
    height: auto;

}
.btn {
    background-color: #f8d050;
    color:black;
    border: none;
    font-weight:bolder;
    width: 85px;
    margin-top:20px;
    border-radius: 5px;
    padding:10px;
    text-align: center;
  
   
}

.head1 {
    color: black;
    font-weight: bolder;
    cursor: pointer;
    
}
.head1:hover {
    color:#f8d050;
}
.txt {
    color: grey;
    font-size:1rem ;
    line-height: 1.5rem;
    letter-spacing: -0.01rem;
    margin-bottom: 1rem;
}
.btm {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;

}
.btm-img {
    display: block;
    width:30px;
    border-radius: 50%;


}
.txb {
    font-size: 0.9rem;
    margin-left: 0.8rem;
    font-weight: 800;
    
}