@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

body {
    background-color: hsl(217, 54%, 11%);
    font-family: "Outfit", sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    background-color: hsl(216, 50%, 16%);
    max-width: 255px;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    
}

.img-container {
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    cursor: pointer;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: opacity 0.3s;
}

.hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 247, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 10px;
    /* transition: opacity 0.3s; */
}

.img-container:hover .img {
    opacity: 0.5;
}

.img-container:hover .hover {
    opacity: 1;
}

.view-icon {
    width: 50px;
    height: 50px;
}

.txt1, .txt2 {
    margin: 10px 0;
}

.txt1 {
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-weight: 600;
}

.txt1:hover {
    color: hsl(178, 100%, 50%);
}

.txt2 {
    color: hsl(216, 22%, 49%);
}

.eth {
    vertical-align: middle;
}

.itxt {
    color: hsl(178, 100%, 50%);
    margin-left: 5px;
    
}

.clo {
    vertical-align: middle;
    margin-left: 10px;
}

.clk {
    vertical-align: middle;
    color: hsl(216, 22%, 49%);
}

hr {
    width: 100%;
    margin: 20px auto;
    border: none;
    border-top: 1px solid hsl(215, 32%, 27%);
}

.rimage {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.btm {
    color: hsl(216, 22%, 49%);
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.spcl {
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.spcl:hover {
    color: hsl(178, 100%, 50%);
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}
