body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

/* Container Styles */
.container {
    /* max-width: 800px; */
    margin: 20px auto;
    width:500px;
    height:30%;
    background-color: #087966;
    box-shadow: 0px 0px 10px rgba(12, 12, 12, 0.1);
    border-radius: 20px;
    padding: 20px;
}

/* Timeline Styles */

.timeline {
    list-style: none;
    padding: 0;
    color: #540a5c;
    font-weight: bold;
}


.timeline-item {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    background-color: #b11a75;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.timeline-info {
    margin-top: 10px;
}

.timeline-info h3, .timeline-info p {
    margin: 0;
    font-size: 16px;
}
.button {
    display: block;
    background-color: #930a71;
   margin: auto;
   padding: 10px;
   color: #fff;
   margin-top:10px;
   border-radius: 12px;
}

/* Delivered Message Styles */
.delivered-message {
    background-color: #0c3054;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
    display: none;
}
